
// Changelog custom styling
//

.version-container {
  padding-bottom: 2em;

  .version-title-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #eaecef;
     margin-bottom: 0.5em;
  }

  .version-title {
     font-size: 2.25em;
     font-weight: 500;
  }

  .version-tag {
     font-weight: bold;
  }

  .version-date {
     font-style: italic;
     font-size: 0.9em;
  }

}

